
<section class="contact-us" id="contact">
    <div class="footer">
        <div class="container">
            <div class="row" style="color:azure">
                <div class="col-lg-4">
                    <div class="hours">
                        <h5>Liên hệ</h5>
                        <p>0945 88 55 70</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="location">
                        <h5>Địa chỉ</h5>
                        <p>
                            166, Nguyễn Văn Cừ nối dài, An Bình, <br /> Ninh Kiều, Cần Thơ
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="book now">
                        <h5>Email</h5>
                        <p>
                            info@Oysters.edu
                        </p>
                    </div>
                </div>
            </div>
            <p>
                Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
            </p>
        </div>
    </div>
</section>