
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body" style="text-align:left">
        <h5 class="card-title" style="color: black; text-align:center">QUY TẮC QUẢN TRỊ WEBSITE</h5>
        <div class="col-md-11">
            <h6>1. BẢO MẬT VÀ GIÁM SÁT</h6>            
            <h6>2. SAO LƯU CƠ SỞ DỮ LIỆU WEBSITE</h6>           
            <h6>3. XÂY DỰNG – CẬP NHẬT NỘI DUNG</h6>           
            <h6>4. THEO DÕI, ĐÁNH GIÁ VÀ PHÂN TÍCH SỐ LIỆU</h6>           
            <h6>5. LÊN KẾ HOẠCH QUẢN TRỊ WEBSITE</h6>
        </div>
    </div>
</div>
