@model WebDangKyKhoaHocOnline.Models.OrderDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class='fa fa-home fa-lg' style='color:#007bff'></i> Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrderDetails" asp-action="Index">Danh sách khóa học</a>
            <span class="breadcrumb-item active">Chỉnh sửa đơn đăng ký</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <h4 class="card-title" style="color: black">Chỉnh sửa thông tin đơn đăng ký</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OrderDetailId" />
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label">Tên học viên</label>
                        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.HocVien">
                            <option value="" disabled selected>Tên học viên</option>
                        </select>
                        <span asp-validation-for="OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseId" class="control-label">Khóa học</label>
                        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.KhoaHoc">
                            <option value="" disabled selected>Chọn khóa học</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Số lượng</label>
                        <input asp-for="Quantity" class="form-control" readonly/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalMoney" class="control-label">Tổng tiền</label>
                        <input asp-for="TotalMoney" class="form-control" readonly/>
                        <span asp-validation-for="TotalMoney" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <input type="reset" value="Trở lại" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>