
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="color:azure">Về chúng tôi</h3>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4 style="text-align:center">TRUNG TÂM ANH NGỮ OYSTERS EDU</h4>
                            <br/>
                            <span>
                                Công ty Hội Nhập và Giáo Dục Quốc Tế OYSTERS EDU hoạt động chủ yếu trong lĩnh vực đào tạo, giảng dạy
                                tiếng Anh, du học và phát triển kĩ năng tư duy toàn diện cho thế hệ trẻ Việt Nam. Với chương trình học
                                OYSTERS EDU, tin rằng, sẽ giúp thế hệ trẻ Việt Nam tự tin chinh phục các kỳ thi với điểm số cao,
                                nâng cao khả năng giao tiếp tiếng Anh, mở ra cánh cửa du học và hội nhập cùng bạn bè quốc tế để trở thành
                                những công dân toàn cầu.
                                <br />
                            </span>
                            <br />
                            <h6>Đến với OYSTERS EDU bạn sẽ được:</h6>
                            <ul>
                                <li>• Học với giáo viên bản ngữ nhiều năm kinh nghiệm dạy chuyên sâu.</li>
                                <li>• Cam kết 100% đầu ra, miễn phí khóa ôn lại nếu không đạt.</li>
                                <li>
                                    • Phương pháp học PUPIL, học online tại nhà không giới hạn với thư viện tài liệu OYSTERS EDU phong phú.
                                </li>
                            </ul>
                            <br />
                            <div class="row">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <img src="~/assets/images/blog-01.jpg" height="400" width="100" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <span>
                                Phương pháp PUPIL giúp học viên tiếp cận và xây dựng kiến thức từ bản chất đến trình độ sử dụng ngôn ngữ linh hoạt
                                cả 4 kỹ năng Nghe – Nói – Đọc – Viết. Là phương pháp sư phạm hiệu quả và đã mang đến nhiều thành công cho các
                                thế hệ học viên tại Anh Ngữ OYSTERS EDU.
                                <br/>
                            </span>
                            <br />
                            <h6>ĐỘI NGŨ GIÁO VIÊN GIÀU CHUYÊN MÔN</h6>
                            <span>
                                Với tiêu chuẩn tuyển chọn gắt gao cùng những yêu cầu đặc biệt để có thể đứng lớp và truyền đạt tốt kiến thức
                                cho học viên, giáo viên của trung tâm đều đảm bảo về bằng cấp sư phạm uy tín và nhiều kinh nghiệm trong giảng dạy tiếng Anh quốc tế.
                                <br />
                                Luôn tràn đầy nhiệt huyết trong quá trình hướng dẫn học viên tiếp cận Anh ngữ. Bộ phận chuyên môn làm việc
                                tất cả các ngày trong tuần và luôn sẵn lòng giải đáp mọi thắc mắc, những bài tập khó hoặc hướng dẫn hoàn thiện hồ sơ.
                            </span>
                            <h6>CHƯƠNG TRÌNH HỌC CHẤT LƯỢNG</h6>
                            <span>
                                Chương trình học luôn được chú trọng thiết kế phù hợp với độ tuổi và năng lực của từng học viên, giúp các em tiếp thu kiến thức một cách toàn diện nhất. Chúng tôi tự tin không những giúp học viên đạt được kết quả cao trong các kỳ thi mà còn dễ dàng xóa bỏ rào cản ngôn ngữ khi giao tiếp ở các môi trường quốc tế.
                                <br />
                                OYSTERS EDU có giáo trình riêng và được đầu tư rất công phu về mặt nội dung, hình thức và được cập nhật
                                kiến thức xã hội mới liên tục. Giáo trình của OYSTERS EDU rất khoa học: Vừa là sách, vừa là vở. Sau mỗi
                                bài học đều có các trang trống để học sinh ghi chép, và giáo viên ghi nhận xét (rất tiện cho phụ huynh trong việc theo sát việc học của con).<br />
                                Sau mỗi buổi học đều có phần tổng kết kiến thức bằng sơ đồ tư duy (mindmap). Chương trình học tại OYSTERS EDU
                                thiết kế bám sát chương trình sách giáo khoa của bộ giáo dục.
                            </span>
                            <h6>ĐỐI TÁC UY TÍN</h6>
                            <span>
                                Với việc đáp ứng tốt nhất các yêu cầu nghiêm ngặt dành cho các đối tác toàn cầu về tổ chức thi cũng
                                như chất lượng học viên, Anh ngữ OYSTERS EDU được công nhận và chính thức trở thành đối tác của nhiều
                                tổ chức uy tín trên toàn thế giới:
                            </span>
                            <div class="row">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <img src="~/assets/images/blog-02.jpg" height="400" width="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
